/*------------------------------------------------------------------

Project:	A Future HTML UI Kit
Version:	1.0.0
Author: 	webstrot 

------------------------------------------------------------------
[Table of contents]
 
1. main_wrapper start

*/


/* main_wrapper start*/

.main_wrapper_two{
	width:100%;
	float:left;
	padding-top:180px;
	padding-bottom:100px;
}
.main_wrapper_two_content{
	float:left;
	width:100%;
	text-align:center;
}
.main_wrapper_two_content h2{
	font-size:20px;
	color:#999;
	font-weight:300;
	font-style:italic;
	margin-bottom:20px;
	padding-top:30px;
	position:relative;
}
.main_wrapper_two_content h2:before{
	content:'';
	border:1px solid #4285f4;
	height:80px;
	position:absolute;
	top: -80px;
	left:50%;
}
.main_wrapper_two_content h1{
	font-size:36px;
	color:#111;
	font-weight:700;
	text-transform:uppercase;
	margin-bottom:40px;
}
.main_wrapper_two_content p{
	font-size:16px;
	margin-bottom:40px;
}
.main_wrapper_two_content a{
	display:inline-block;
	width:180px;
	height:40px;
	line-height:40px;
	text-align:center;
	background:#4285f4;
	color:#fff;
	border-radius:3px;
	text-transform:uppercase;
}
.main_wrapper_two_content a:hover{
	background:#194690;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

/* main_wrapper end*/







