/*------------------------------------------------------------------

Project:	A Future HTML UI Kit
Version:	1.0.0
Author: 	webstrot 

------------------------------------------------------------------
[Table of contents]
 
1. google_map_wrapper start
2. contact_image_wrapper start
3. comments_form_wrapper start
4. newsletter_section start


*/


/* custom css start */

.section_heading{
	margin-bottom:30px;
	text-align:center;
}
.section_heading h2{
	font-size: 30px;
    margin: 0 0 5px;
    text-transform: uppercase;
	font-weight:600;
    position: relative;
}
.section_heading h3 {
    font-size: 16px;
	margin-bottom:15px;
    color: #4285f4;
}
.section_heading span.bordered-icon {
	color: #dadada;
    padding: 0 10px;
    font-size: 12px;
    line-height: 18px;
    position: relative;
    display: inline-block;
}
.section_heading span.bordered-icon:before, 
.section_heading span.bordered-icon:after {
	content: "";
    background: #dadada;
    width: 50px;
    height: 1px;
    top: 8px;
    position: absolute;
}
.section_heading span.bordered-icon:before {
  left: 100%;
}
.section_heading span.bordered-icon:after {
  right: 100%;
}
.section_content{
	margin-bottom:50px;
}
.section_content p{
	font-size:16px;
	text-align: center;
}

/* custom css end */


/* google_map_wrapper start */

.google_map_wrapper{
	float:left;
	width:100%;
	padding-top:100px;
	padding-bottom:100px;
}
.map_wrapper{
	float:left;
	width:100%;
	margin-bottom:50px;
}
#map_canvas , #map_canvas_2 , #map_canvas_3, #map_canvas_4{
	width:100%;
	height:300px;
}

/* google_map_wrapper end */


/* contact_image_wrapper start */

.contact_info_section{
	float:left;
	width:100%;
}
.contact_image_wrapper{
	float: left;
    width: 50%;
}
.contact_image_wrapper img{
    width: 100%;
	height:612px;
}

/* contact_image_wrapper end */


/** comments_form_wrapper start **/

.comments_form_wrapper{
	float:left;
	width:50%;
	text-align:center;
	padding:50px;
    background: #f7f7f7;
	min-height:612px;
}
.contact_form_heading{
	float:left;
	width:100%;
	margin-bottom:50px;
}
.comments_form_wrapper h2{
	font-size:40px;
	margin-bottom:20px;
}
.comments_form_wrapper h3{
	font-size:16px;
	color:#999;
}
.comments_form_wrapper .form-group {
    margin-bottom: 30px;
}
.comments_form_wrapper .form-control {
	height: 50px;
    padding: 15px 20px;
    font-size: 14px;
    line-height: 24px;
    border: 1px solid #efefef;
    border-radius: 3px;
    box-shadow: none;
    font-family: 'Roboto';
	-webkit-transition: all 0.3s ease 0s;
   -moz-transition: all 0.3s ease 0s;
   -o-transition: all 0.3s ease 0s;
   transition: all 0.3s ease 0s;
   background-color: transparent;
}
.comments_form_wrapper textarea.form-control{
	height:120px;
	resize:none;
}
.comments_form_wrapper input::placeholder, .comments_form_wrapper textarea::placeholder {
  color: #999;
}
.comments_form_wrapper .form-control:focus {
	color: #999;
	background-color: transparent;
	border: 1px solid #4285f4 !important;	
}
.comments_form_wrapper .btn{
	margin: 0 auto;
    padding: 15px 32px;
	letter-spacing:1px;
	margin-top:20px;
	text-transform:uppercase;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.comments_form_wrapper .btn-primary{
	background: #4285f4;
  	border: 1px solid #4285f4 !important;
}
.comments_form_wrapper .btn-primary.focus,
.comments_form_wrapper .btn-primary:hover{
	background-color: transparent;
  	color: #4285f4;
  	border: 1px solid #4285f4 !important;
}
.comments_form_wrapper .btn:focus{
	outline:none;
}
.form-pos, .form-e , .form-s , .form-m{
	position:relative;
}
.form-group.i-name:after, .form-group.i-email:after, .form-group.i-subject:after, .form-group.i-message:after {
    position: absolute;
    top: 13px;
    font-size: 18px;
    font-family: "FontAwesome";
    color: #c0c0c0;
}
.comments_form_wrapper .form-group.i-name:after{
	content: "\f007";
	right: 32px;
}
.comments_form_wrapper .form-group.i-email:after{
	content: "\f003";
	right: 32px;
}
.comments_form_wrapper .form-group.i-message:after{
	content: "\f059";
	right: 32px;
}
.comments_form_wrapper .form-group.i-subject:after{
	content: "\f064";
	right: 32px;
}

/** comments_form_wrapper end **/


/** newsletter_section start **/

.newsletter_section{
	float:left;
	width:100%;
	padding-top:100px;
	padding-bottom:100px;
	background:#4285f4;
}
.newsletter_section .newsletter_wrap {
    width: 100%;
}
.newsletter_section .newsletter_content{
   float: left;
   width: 100%;
   margin-top:7px;
}
.newsletter_section .newsletter_button{
   float: left;
   width: 100%;
}
.newsletter_content h2{
	color:#fff;
	font-size:30px;
	line-height: 38px;
	text-transform:uppercase;
}
.newsletter_img{
	float: left;
    width: 52px;
}
.newsletter_heading{
	float: left;
	width: calc(100% - 52px);
    padding-left: 20px;
}
.newsletter_form .form-group{
	margin-bottom:0px;
}
.newsletter_form .form-group i{
    font-size: 18px;
    color: #fff;
	margin-left:-40px;
}
.newsletter_form input{
	width: 100%;
	height: 50px;
    font-size: 14px;
    line-height: 24px;
	color:#fff;
	padding: 17px 54px 17px 20px;
    background-color: transparent;
	box-shadow:none;
    border: 1px solid rgba(255, 255, 255, 0.55);
    border-style: solid solid solid solid;
    border-radius: 3px;
}
.newsletter_form input::placeholder{
  color: #fff;
}
.newsletter_button button.btn{
	background: #fff;
	border: 1px solid #fff;
	color:#999;
	font-size: 16px;
    line-height: 40px;
	width:165px;
	height: 50px;
	text-transform:uppercase;
    -webkit-transition: all 0.3s ease 0s;
   -moz-transition: all 0.3s ease 0s;
   -o-transition: all 0.3s ease 0s;
   transition: all 0.3s ease 0s;
}
.newsletter_button button.btn:hover{
	background: transparent;
	border: 1px solid #fff;
	color:#fff;
    -webkit-transition: all 0.3s ease 0s;
   -moz-transition: all 0.3s ease 0s;
   -o-transition: all 0.3s ease 0s;
   transition: all 0.3s ease 0s;
}

/** newsletter_section end **/


@media (min-width: 992px) and (max-width: 1199px){
	
	.working_hours_wrapper tbody td {
		padding: 10px 0px;
	}
	.enquiry_form_section ul li a {
		font-size: 15px;
	}
	.contact_info_content {
		margin-bottom:40px;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	
	.contact_details_wrapper {
		padding: 50px 30px;
	}
	.working_hours_wrapper {
		padding: 50px 30px;
	}
	.working_hours_wrapper tbody td {
		padding: 10px 0px;
	}
	.enquiry_form_section ul li a{
		line-height: 30px;
	}
	.contact_info_content {
		margin-bottom:40px;
	}
	.contact_image_wrapper, .comments_form_wrapper{
		width: 100%;
	}
	.contact_image_wrapper img {
		height: auto;
	}
	.comments_form_wrapper{
		min-height:0;
	}
	.newsletter_section {
		text-align: center;
	}
	.newsletter_content,.newsletter_form{
		margin-bottom:30px;
	}
	.newsletter_img, .newsletter_heading {
		width: auto;
	}
	.newsletter_section .newsletter_content {
		float:none;
		width: auto;
		display:inline-block;
		margin-top: 0px; 
	}
}

@media (max-width: 767px){
	
	.contact_details_wrapper {
		width:100%;
		margin-bottom:40px;
	}
	.working_hours_wrapper {
		width:100%;
	}
	.call_to_action:after {
		left: 47%;
	}
	.social_icon_content {
		width: 100%;
	}
	.contact_info_content {
		margin-bottom:40px;
	}
	.contact_image_wrapper, .comments_form_wrapper{
		width: 100%;
	}
	.contact_image_wrapper img {
		height: auto;
	}
	.comments_form_wrapper{
		min-height:0;
	}
	.newsletter_section {
		text-align: center;
	}
	.newsletter_content,.newsletter_form{
		margin-bottom:30px;
	}
	.newsletter_img, .newsletter_heading {
		width: auto;
	}
	.newsletter_section .newsletter_content {
		float:none;
		width: auto;
		display:inline-block;
		margin-top: 0px; 
	}
}

@media (max-width: 480px){
	
	.call_to_action:after {
		left: 42%;
	}
	.callout_content h2{
		font-size: 20px;
	}
	.newsletter_content h2 {
		font-size: 24px;
	}
}

@media (max-width: 390px){
	
	.about_text_wrapper_btn{
		text-align: center;
	}
	.about_text_wrapper_btn button {
		display: inline-block;
	}
	.newsletter_content h2 {
		font-size: 16px;
	}
}