/*------------------------------------------------------------------

Project:	A Future HTML UI Kit
Version:	1.0.0
Author: 	webstrot 

------------------------------------------------------------------
[Table of contents]
 
1. body
2. header start 
3. footer start
4. slider_area start
5. features_section start
6. featured_products_section start
7. products_category_wrapper start
8. portfolio_wrapper start
9. banner_wrapper start
10. best_sellers_product_wrapper start
11. trending_product_wrapper start
12. testimonials_wrapper start
13. product_banner_wrapper start
13. feature_icon_section start
13. blog_section start
14. client_section start
15. newsletter_section start


*/



/* custom css */

html, body{
	font-family: 'Roboto';
}
h1, h2, h3, h4, h5, h6{
    font-size: 20px;
    color: #111111;
	margin:0;
	padding:0;
	font-family: 'Roboto';
	font-weight: 400;
}
p{
    color: #999999;
    font-size: 14px;
	line-height: 24px;
}
a:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: unset;
}
a:hover{
	color:#4285f4;
	text-decoration:none;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
a{
	color: #111111;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
button {
    outline: none!important;
    text-decoration: none!important;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #4385f5;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 5px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
	z-index:1000;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 8px;
    font-size: 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

/* ---------------------------------------------- /*
 * Preloader
/* ---------------------------------------------- */

#preloader {
    background: #FFF;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

#status,
.status-mes {
    background-image: url(../images/preloader.gif);
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}
.status-mes {
    background: none;
    left: 0;
    margin: 0;
    text-align: center;
    top: 65%;
}

/* section_heading */

.section_heading{
	margin-bottom:10px;
	text-align:center;
}
.section_heading h2{
	font-size: 30px;
	margin-bottom:10px;
	text-transform:capitalize;
}
.section_heading span.bordered-icon {
   color: #4285f4;
    font-size: 10px;
    line-height: 18px;
    position: relative;
    display: inline-block;
}
.section_heading span.bordered-icon i {
	 padding: 0 1px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* section_content */

.section_content{
	margin-bottom:50px;
}
.section_content p{
	font-size:16px;
	text-align: center;
}

/* custom css end */


/* --------------------------------------
LIST STYLE
------------------------------------------*/

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

/* header start */
 
/* section4_logo_wrapper start */

.top-bar{
	float:left;
	width:100%;
	padding: 30px 0px;
	border-bottom:1px solid #f2f2f2;
}
.signin_wrapper,.cart_wrapper{
	float:left;
	width:100%;
	padding-top: 12px;
}
.signin_wrapper .dropdown-menu{
	right:auto;
	left:0;
}
.signin_wrapper .sigin_wrapper_text {
    font-size: 14px;
    font-weight: bold;
    color: #111111;
    text-transform: uppercase;
}
.signin_wrapper .sigin_wrapper_text:hover {
    color: #4285f4;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.signin_wrapper .dropdown-menu .signin_dropdown{
	float:left;
    width: 350px;
	padding:30px 50px;
}
.signin_wrapper .signin_dropdown a.btn {
    color: #fff;
    width: 100%;
    height: 50px;
	padding: 6px 25px;
    line-height: 36px;
	margin-bottom:20px;
	text-align:left;
	border-radius:5px;
    background: #4385f5;
    font-size: 16px;
    border: 1px solid #4385f5;
}
.signin_wrapper .signin_dropdown a.btn:hover {
   background-color: #2c6ad4;
   border-color: #2c6ad4;
}
.signin_wrapper .signin_dropdown a.span{
	float:left;
}
.signin_wrapper .dropdown-menu .signin_dropdown a i{
	float:right;
	margin:0;
	line-height: 35px;
}
.signin_wrapper .signin_dropdown a.google-plus{
    background: #db4c3e;
    border: 1px solid #db4c3e;
}
.signin_wrapper .signin_dropdown a.google-plus:hover{
    background: #bd4033;
    border-color:#bd4033;
}
.signin_wrapper .signin_dropdown h2 {
    font-size: 18px;
	font-weight:500;
	margin-bottom:20px;
	color:#111;
    line-height: 20px;
    text-transform: uppercase;
	text-align:center;
    position: relative;
}
.signin_wrapper .signin_dropdown h2::before, .signin_dropdown h2::after {
    content: "";
    background: #e4e4e4;
    width: 100px;
    height: 1px;
    position: absolute;
    top: 50%;
}
.signin_wrapper .signin_dropdown h2::before {
    right: 60%;
}
.signin_wrapper .signin_dropdown h2::after {
    left: 60%;
}
.signin_wrapper .signin_dropdown .form-control {
	height: 53px;
    padding: 15px 20px;
    font-size: 14px;
    line-height: 24px;
    border: 1px solid #fafafa;
    border-radius: 3px;
    box-shadow: none;
    font-family: 'Roboto';
	-webkit-transition: all 0.3s ease 0s;
   -moz-transition: all 0.3s ease 0s;
   -o-transition: all 0.3s ease 0s;
   transition: all 0.3s ease 0s;
   background-color: #fafafa;
}
.signin_wrapper .signin_dropdown textarea.form-control{
	height:auto;
	resize:none;
}
.signin_wrapper .signin_dropdown input::placeholder, .signin_dropdown textarea::placeholder {
  color: #999;
}
.signin_wrapper .signin_dropdown .form-control:focus {
	color: #999;
	background-color: fafafa;
	border: 1px solid #4285f4 !important;	
}
.formsix-pos,.formsix-e{
	position: relative;
}
.form-group.i-password:after, .form-group.i-email:after{
    position: absolute;
     top: 13px;
    font-size: 18px;
    font-family: "FontAwesome";
    color: #c0c0c0;
}
.signin_dropdown .form-group.i-email:after{
	content: "\f0e0";
	right: 25px;
}
.signin_dropdown .form-group.i-password:after{
	content: "\f09c";
	right: 25px;
}
.remember_box{
	margin-top:20px;
	margin-bottom:20px;
	color:#999;
}
.remember_box .forget_password{
	float:right;
	color:#db4c3e;
	line-height:12px;
	text-decoration:underline;
}
.remember_box .forget_password:hover{
	background:#fff;
}
.remember_box a i{
	float:left;
	color:#999;
	margin-right:5px;
	line-height: 20px;
}
.login_wrapper{
	padding-bottom:20px;
	margin-bottom:20px;
	border-bottom:1px solid #e4e4e4;
}
.signin_wrapper .signin_dropdown a.login_btn {
   text-align:center;
   text-transform:uppercase;
   margin-bottom:15px;
   background:#4385f5;
   border:1px solid #4385f5;
}
.signin_wrapper .signin_dropdown a.login_btn:hover {
   background:#2c6ad4;
   border-color:#2c6ad4;
}
.sign_up_message p{
	font-size:16px;
}
.sign_up_message a{
	color:#4385f5;
}
.signin_dropdown a.login_btn:hover {
    background-color: #2c6ad4;
    border-color: #2c6ad4;
}
.signin_wrapper .dropdown-menu li .sign_up_message a{
	display: inline-block;
    padding: 0;
    color: #4385f5;
	font-size:16px;
}
.signin_wrapper .dropdown-menu li .sign_up_message a:hover{
	background:#fff;
}
.remember_box{
	margin-top:20px;
	margin-bottom:20px;
	color:#999;
}
.remember_box .control {
    position: relative;
	padding-left:20px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
	margin:0;
}
.remember_box .control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.remember_box .control__indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background: #fff;
  border: 1px solid #999;
}
.remember_box .control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.remember_box .control input:checked ~ .control__indicator:after {
  display: block;
}
.remember_box .control--checkbox .control__indicator:after {
  left: 4px;
  top: 0;
  width: 5px;
  height: 10px;
  border: solid #111;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.remember_box .forget_password{
	float:right;
	color:#db4c3e;
	line-height:12px;
	text-decoration:underline;
}
.remember_box .forget_password:hover{
	background:#fff;
}

.logo_wrapper{
	float:left;
	width:100%;
	text-align:center;
}
.logo_wrapper img{
	display:inline-block;
}

/*cart-dropdown*/

.cart_wrapper .dropdown .dropdown-menu{
	  right: 0;
	  left:auto;
}
.cart_wrapper .dropdown{
	float:right;
	font-size:14px;
	font-weight:bold;
	color:#111111;
	text-transform:uppercase;
	position:relative;
	list-style:none;
}
.cart_wrapper .dropdown span{
	margin-left:5px;
}
.cart-dropdown{
  width: 350px;
}
.cart-dropdown .media {
  margin-top: 0;
  position: relative;
}
.cart-dropdown .media-list li {
  border-bottom: 1px solid #f5f5f5;
  padding: 20px 40px;
}
.cart-dropdown .media>.media-left{
    padding-right: 30px;
}
.cart-dropdown .media-heading {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: #212121;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.cart-dropdown .quantity, 
.cart-dropdown .price  {
  font-size: 16px;
}
.cart-dropdown .quantity{
	float: left;
    width: 20px;
    height: 20px;
    background: #f7f7f7;
    color: #999;
    line-height: 20px;
    text-align: center;
}
.cart-dropdown .price {
  color: #4385f5;
  margin-left:20px;
  font-weight:600;
}
.cart-dropdown .close i {
  width: 25px;
  height: 25px;
  line-height: 23px;
  font-size: 14px;
  border: 1px solid #A59F9F;
  border-radius: 50%;
  color: #B5B0B0;
  text-align: center;
  position: absolute;
  top: 50px;
  right: 30px;
}
.cart-dropdown .total {
  padding: 20px 40px;
  text-transform: capitalize;
}
.cart-dropdown .total a.btn{
  position: relative;
  top: -25px;
  color: #fff;
  width:160px;
  height:50px;
  line-height:38px;
  text-align:center;
  background: #4385f5;
  text-transform: uppercase;
  font-weight:600;
  font-size: 14px;
  border:1px solid #4385f5;
}
.cart-dropdown .total a.btn:hover{
  background-color: #2c6ad4;
  border-color: #2c6ad4;
}
.cart-dropdown .total .total_price{
  margin-top:0;
  color: #4385f5;
  font-weight: 600;
}
.cart-dropdown .total .total_item{
	font-size:12px;
	color: #999;
}
.badge {
    padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
#cart-badge {
     font-size: 10px;
    background: #ff4157;
    color: #fff;
    padding: 2px 5px;
    vertical-align: top;
    position: absolute;
    right: 25px;
    top: -8px;
	margin:0;
}

/*cart Dropdown Menu end */


/* top-bar end */

.main_menu_wrapper{
	float:left;
	width:100%;
	background:#fff;
}

/*Navigation*/

@media (min-width: 768px) {

  .navbar-default {
    border: 0;
    border-radius: 0;
  }
  .navbar-right .dropdown-menu {
    right: auto;
  }  
  .mega-menu .nav .shop_dropdown_wrapper,
  .mega-menu .nav .blog_dropdown_wrapper
  {
	  position: relative;
  }
  .navbar-right .cart_dropdown_wrapper .dropdown-menu{
    right: 0;
  } 
  .navbar-right .shop_dropdown_wrapper .dropdown-menu {
	right: 0;
  }
  .navbar-right .blog_dropdown_wrapper .dropdown-menu {
	    right: 0;
		left: auto;
  }
  .navbar-brand {
    padding: 30px 15px;
  }
  
}
.navbar-default {
  background-color: transparent;
  margin-bottom: 0;
  border: none;
}
.navbar-default .navbar-nav>li>a {
  padding: 20px 16px;
  color: #444;
  font-size:14px;
  font-weight:600;
  line-height: 20px;
  text-transform:uppercase;
}
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
  color: #4385f5;
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
  color: #4385f5;
  background-color: transparent;
}



/*Dropdown Menu*/

.dropdown-menu {
  display: inherit;
  min-width: 220px;
  padding: 3px 0;
  border:0;
  background-color: #fff;
  border-top:4px solid #4385f5;
  border-radius:0;
  -o-box-shadow: 0 6px 12px rgba(0,0,0,.100);
  -ms-box-shadow: 0 6px 12px rgba(0,0,0,.100);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.100);
  -webkit-box-shadow:0 6px 12px rgba(0,0,0,.100);
   box-shadow: 0 6px 12px rgba(0,0,0,.100);
}
.dropdown-header {
  font-size: 11px;
  line-height: 30px;
  font-weight: 600;
  color: #313131;
  text-transform: uppercase;
}
.dropdown-menu li a {
  display: block;
  padding:5px 20px;
  font-size:14px;
  font-weight:400;
  line-height: 30px;
  color: #999999;
}
.dropdown-menu li a .new{
	padding:3px;
    text-align: center;
    background: rgba(227, 69, 69, 0.8);
    color: #ffffff;
    text-transform: uppercase;
    font-size: 10px;
	margin-left:10px;
}
.dropdown-menu li a:hover, 
.dropdown-menu>li>a:focus {
  color: #4385f5;
  background-color: #f5f5f5;
}
.dropdown .dropdown-menu {
  opacity: 0;
  visibility: hidden;
  -webkit-transition      : all 0.3s ease 0s;
  -moz-transition      : all 0.3s ease 0s;
  -o-transition      : all 0.3s ease 0s;
  transition      : all 0.3s ease 0s;
}
.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
  visibility: visible;
}
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
  color: #4385f5;
  background-color: transparent;
}
.dropdown .dropdown-menu li .dropdown-menu-right{
	display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 3px 0;
    background-color: #fff;
    border-top:3px solid #4385f5;
	border-radius:0;
	-o-box-shadow: 0 6px 12px rgba(0,0,0,.100);
	-ms-box-shadow: 0 6px 12px rgba(0,0,0,.100);
	-moz-box-shadow: 0 6px 12px rgba(0,0,0,.100);
	-webkit-box-shadow:0 6px 12px rgba(0,0,0,.100);
	box-shadow: 0 6px 12px rgba(0,0,0,.100);
	top:0;
	left:100%;
	right:auto;
	min-width:210px;
}
.dropdown .dropdown-menu li .dropdown-menu-left{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 3px 0;
    background-color: #fff;
    border-top: 3px solid #4385f5;
    border-radius: 0;
    -o-box-shadow: 0 6px 12px rgba(0,0,0,.100);
    -ms-box-shadow: 0 6px 12px rgba(0,0,0,.100);
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.100);
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.100);
    box-shadow: 0 6px 12px rgba(0,0,0,.100);
    top: 0;
    left: auto;
    right: 100%;
    min-width: 250px;
}
.dropdown .dropdown-menu li .dropdown-menu-right li a,
.dropdown .dropdown-menu li .dropdown-menu-left li a{
	padding:5px 20px;
	font-size:14px;
	font-weight:400;
}
.dropdown .dropdown-menu li:hover > .dropdown-menu-right,
.dropdown .dropdown-menu li:hover > .dropdown-menu-left
{
	display:block;
}
.dropdown .dropdown-menu li {
    position: relative;
}
.dropdown .dropdown-menu li a i {
    margin-right:20px;
}
.dropdown .dropdown-menu li a span i {
    position: absolute;
    right: 10px;
	top:14px;
}


/*mega-menu*/

.mega-menu .nav,
.mega-menu .collapse,
.mega-menu .dropup,
.mega-menu .dropdown {
  position: static;
}
.mega-menu .container {
  position: relative;
}
.mega-menu .dropdown-menu {
  left: auto;
}
.mega-menu .m-menu-content {}
.mega-menu .dropdown.m-menu-fw .dropdown-menu {
  left: auto;
  right: 15px;
}
.m-menu-content ul {
  border-right: 1px solid #f5f5f5;
  padding: 20px;
}
.m-menu-content ul:last-of-type {
  border-right: 0;
}

/* menu_toggle*/

.menu_toggle{
	float:left;
	width:100%;
	padding-top:22px;
}
.menu_toggle .navbar-toggle {
    display: block;
    border: 0;
	margin:0;
	padding:0;
	float:left;
}
.menu_toggle .navbar-toggle .icon-bar{
	width: 15px;
	background-color: #111;
}
.menu_toggle .navbar-toggle .icon-bar+.icon-bar {
    margin-top: 3px;
}
.menu_toggle  .navbar-toggle:focus
.navbar-toggle .icon-bar, 
.menu_toggle .navbar-toggle:hover 
.navbar-toggle .icon-bar{
    background-color: #4385f5;
}

/* menu_social_icons */

.menu_social_icons{
	float:left;
	width:100%;
	padding-top: 20px;
}
.menu_social_icons ul{
	float: right;
}
.menu_social_icons ul li{
	float:left;
	margin-left:20px;
}
.menu_social_icons ul li a{
	color:#c2c2c2;
}
.menu_social_icons ul li:first-child{
	margin-left:0px;
}
.menu_social_icons ul li a:hover{
	color:#4285f4;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.menu_fixed{
	position:fixed;
	background: #fff;
	-webkit-box-shadow: 0px 0px 25px -10px;
    box-shadow: 0px 0px 25px -10px;
	top:0;
	left: 0;
    right: 0;
    z-index: 1000;
}

/* mobail_menu_main */

.mobail_menu_main{
	float:left;
	width:100%;
	background:#fff;
}
#sidebar {
  position: fixed;
  display: block;
  height: 100vh;
  top: 0px;
  left: -500px;
  background-color: #ffffff;
  overflow: scroll;
  z-index:1000;
}
#links {
  position: relative;
  float: left;
}
#link_list {
  list-style-type: none;
  width: 100%;
  padding: 0px 50px 0px 0px;
}
#link_list li {
  display: block;
  width: 100%;
}
#link_list li:hover {
  background-color: #4285f4;
}
#toggle_close{
	position: absolute;
    z-index: 100;
    right: 20px;
    top: 20px;
    font-size: 25px;
    color: #888;
    cursor: pointer;
}
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu {
  width: 300px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}
#cssmenu ul ul {
  display: none;
}
#cssmenu > ul > li.active > ul {
  display: block;
}
.align-right {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 16px 22px;
  cursor: pointer;
  z-index: 2;
  font-size: 16px;
  text-decoration: none;
  color: #000000;
  font-weight:500;
  border:1px solid #f2f2f2;
  background: #ffffff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
#cssmenu > ul > li:first-child > a{
	border-top:1px solid #f2f2f2;
}
#cssmenu > ul > li > a:hover{
	background:#4285f4;
	border-bottom:1px solid #f2f2f2;
	color:#ffffff;
	 -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
#cssmenu ul > li.has-sub > a:after {
  position: absolute;
  right: 26px;
  top: 19px;
  z-index: 5;
  display: block;
  height: 10px;
  width: 2px;
  background: #888;
  content: "";
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
   -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
#cssmenu ul > li.has-sub > a:before {
  position: absolute;
  right: 22px;
  top: 23px;
  display: block;
  width: 10px;
  height: 2px;
  background: #888;
  content: "";
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
   -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
#cssmenu ul > li.has-sub > a:hover:after, #cssmenu ul > li.has-sub > a:hover:before{
	background:#000;
	 -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
#cssmenu ul > li.has-sub.open > a:after,
#cssmenu ul > li.has-sub.open > a:before {
	background:#000;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#cssmenu ul ul li a {
  padding: 14px 32px;
  cursor: pointer;
  z-index: 2;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  background: #f9f9f9;
  color: #000;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu ul ul ul li a {
  padding-left: 32px;
}
#cssmenu ul ul > li.has-sub > a:after {
  top: 16px;
  right: 26px;
  background:#888;
}
#cssmenu ul ul > li.has-sub > a:before {
  top: 20px;
  background:#888;
}
#sidebar .sidebar_logo{
	padding: 15px 0px;
	padding-left: 20px;
	display: inline-block;
}
#cssmenu ul .sidebar_login .btn {
	color: #fff;
	width: 235px;
	height: 50px;
	position: relative;
	top: 15px;
	text-align: center;
	text-transform: uppercase;
	padding: 15px 25px;
	margin: 0 0 0 10px;
	line-height: 20px;
	border-radius: 5px;
	background: #4385f5;
	border: 1px solid #4385f5;
	font-size: 14px;
}
#cssmenu ul .sidebar_login .btn:hover {
	background-color: #2c6ad4;
	border-color: #2c6ad4;
}
.sidebar_search {
    border: 1px solid #f2f2f2;
}
.sidebar_search input{
	float: left;
    width: calc(100% - 45px);
    height: 50px;
    padding: 0 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-color: #fff;
    color: #000000;
    border: none;
    border-radius: 0;
	outline: none;
}
.sidebar_search button {
    width: 45px;
    height: 50px;
    border: 1px solid transparent;
    background-color: transparent;
	color: #888;
	font-size: 15px;
    position: relative;
    right: 3px;
    text-align: center;
    padding: 0px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}


/* footer start */

.footer{
	float:left;
	width:100%;
	background:#212121;
	padding-top:100px;
	padding-bottom:100px;
}
.footer_widget{
	float:left;
	width:100%;
}
.footer h4{
	color:#fff;
	font-size:16px;
	font-weight:bold;
	text-transform:uppercase;
	padding-bottom:70px;
}
.footer h4:after {
    content: '';
    border: 2px solid #2d2d2d;
	border-radius:5px;
    display: block;
    width: 40px;
    position: absolute;
    margin-top:18px;
}
.footer_widget ul li i {
    color: #4285f4;
    margin-right: 20px;
}
.footer ul li{
	margin-bottom:30px;
}
.footer ul li a{
	font-size:16px;
	color:#a3a3a3;
	-webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.footer ul li a:hover{
	color:#4285f4;
	-webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.footer_contact_widget ul li {
	float:left;
	width:100%;
	margin-bottom:25px;
}
.footer_contact_widget ul li a{
	color:#a3a3a3;
	line-height: 0;
}
.footer_contact_widget ul li span{
	float:left;
	width:calc(100% - 10px);
	padding-left:20px;
	color:#a3a3a3;
	font-size:15px;
}
.footer_contact_widget ul li i{
	float:left;
	width:10px;
	color: #4285f4;
	line-height: 22px;
}
.footer_text_wrapper{
	float:left;
	width:100%;
	padding-bottom:10px;
	font-size:15px;
}
.footer_text_wrapper p{
	font-size:15px;
}

/* copyright_wrapper start */

.copyright_wrapper{
	background:#1a1a1a;
	float:left;
	width:100%;
	padding-top:30px;
	padding-bottom:30px;
}
.copyright_content, .copyright_menu{
	float:left;
	width:100%;
}
.copyright_content p{
	font-size:16px;
	color:#656565;
	text-transform:capitalize;
	margin:0;
}
.copyright_content a{
	color:#4285f4;
}
.copyright_menu ul{
	float:right;
}
.copyright_menu ul li{
	float:left;
	margin-right:30px;
}
.copyright_menu ul li:last-child{
	margin-right:0px;
}
.copyright_menu ul li a{
	font-size:16px;
	color:#a3a3a3;
}
.copyright_menu ul li a:hover{
	color:#4285f4;
}

/* footer end*/


/*-- slider_area Start --*/

.slider_area{
	float:left;
	width:100%;
	position:relative;
}
.slider_area .carousel-inner .item .caption-1 {
  width:100%;
  height:100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background: url(../images/home/home-6/slider_image_1.jpg) 50% 0 repeat-y;
  position: relative;
  min-height:830px;
}
.slider_area .carousel-inner .item .caption-2 {
  width:100%;
  height:100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background: url(../images/home/home-6/slider_image_2.jpg) 50% 0 repeat-y;
  position: relative;
  min-height:830px;
}
.slider_area .carousel-inner .item .caption-3 {
	width:100%;
  height:100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background: url(../images/home/home-6/slider_image_3.jpg) 50% 0 repeat-y;
  position: relative;
  min-height:830px;
}
.slider_area .carousel-inner .item .carousel-captions .content {
  display: block;
  position: relative;
  z-index: 999;
  overflow: hidden;
  vertical-align: middle;
  padding-top:250px;
}
.slider_area .carousel-inner .item .carousel-captions .content h2 {
  color: #111;
  font-weight:300;
  font-size: 50px;
  margin: 0 0 20px;
  animation-delay: 1s;
}
.slider_area .carousel-inner .item .carousel-captions .content h2 span {
	font-size:140px;
	background:#4385f5;
	font-weight: 800;
	color: #fff;
	padding:0px 20px;
}
.slider_area .carousel-inner .item .carousel-captions .content h3 {
  color: #000000;
  font-size: 28px;
  font-weight:300;
  text-transform:uppercase;
  margin: 0 0 20px;
  animation-delay: 1.5s;
}
.slider_area .carousel-inner .item .carousel-captions .content h3:after {
    content: '';
    border: 2px solid #4385f5;
    display: block;
    width: 50px;
    border-radius: 3px;
    margin-top: 10px;
}
.slider_area .carousel-inner .item .carousel-captions .content p {
  font-size: 16px;
  color: #545454;
  margin: 0 0 20px;
  font-weight:300;
  animation-delay: 2s;
}
.slider_area .carousel-nevigation{
	position:absolute;
	top:50%;
	float:left;
	width:100%;	
}
.slider_area .carousel-nevigation > .prev{
	left:-138px;
	position:absolute;
	width:50px;
	height:50px;
	line-height:50px;
	text-align:center;
	background:#4385f5;
	border-radius:3px;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.slider_area .carousel-nevigation > .next{
	right:-138px;
	position:absolute;
	width:50px;
	height:50px;
	background:#4385f5;
	border-radius:3px;
	line-height:50px;
	text-align:center;
	 -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.slider_area:hover .carousel-nevigation > .prev{
	left:30px;
		text-decoration:none;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.slider_area:hover .carousel-nevigation > .next{
	right:30px;
		text-decoration:none;
	 -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.slider_area .carousel-nevigation > .next:hover, 
.slider_area .carousel-nevigation > .prev:hover{
	background:#2c6ad4;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.slider_area .carousel-nevigation > .prev i,
.slider_area .carousel-nevigation > .next i{
	color:#ffffff;
	font-size:16px;
}
.slider_area .carousel-nevigation > .prev i:before,
.slider_area .carousel-nevigation > .next i:before{
	margin-left:0;
}
.slider_area .carousel-inner .item .carousel-captions .content .btn1{
	float:left;
	width:180px;
	height:50px;
	line-height:50px;
	font-size:18px;
	background:transparent;
	border:1px solid #111;
	border-radius:3px;
	color:#111;
	font-weight:300;
	text-transform:uppercase;
	text-align:center;
	margin-right:30px;
	animation-delay: 2.5s;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.slider_area .carousel-inner .item .carousel-captions .content .btn1 i:before{
	margin-left: 8px;
}
.slider_area .carousel-inner .item .carousel-captions .content .btn1:hover{
	background:#4385f5;
	color:#fff;
	border-color:#4385f5;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

@media (max-width: 767px){
	.slider_area .carousel-inner .carousel-indicators li{display: inline-block;}
	.slider_area .carousel-inner .carousel-indicators{top: initial;}
}

@media (max-width: 480px){
	.slider_area .carousel-inner .item .carousel-captions .content h2 span {
		font-size: 100px;
	}
	.slider_area .carousel-inner .item .carousel-captions .content h2 {
		font-size: 20px;
	}
	.slider_area .carousel-inner .item .carousel-captions .content h3 {
		font-size: 20px;
	}
}

/* slider_area end */


/* features_section start */

.features_section{
    position: relative;
    margin-top: -100px;
    overflow: hidden;
    float: left;
    width: 100%;
	padding-bottom:100px;
}
.features_wrapper{
    background:#f7f7f7;
    padding: 30px 0px;
	border-radius:5px;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.features_wrapper .fa{
    margin: auto;
    display: block;
    text-align: center;
    font-size: 35px;
    color: #4285f4;
	margin-bottom:30px;
}
.features_wrapper h4{
	margin-bottom:10px;
}
.features_wrapper:hover{
    background: #4285f4;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.features_wrapper:hover .fa{
    color: #fff;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.features_wrapper:hover h4 a{
    color: #fff;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.features_wrapper:hover p{
    color: #fff;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.features_wrapper p{
	font-size:16px;
}
.features_wrapper span{
	font-weight:bold;
}

/* features_section end */


/* featured_products_section start */

.featured_products_section{
	float: left;
    width: 100%;
	padding-bottom:100px;
}
.featured_products_slider {
    float: left;
    width: 100%;
    padding-top: 20px;
}
.featured_products_slider .owl-theme .owl-dots {
    display: none;
}
.featured_products_slider .owl-theme .owl-nav {
    position: absolute;
    top: 30%;
    margin: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: block;
}
.featured_products_slider .owl-theme .owl-nav .owl-prev {
    font-size: 20px;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    position: absolute;
    text-align: center;
    background: #ffffff;
    color: #000000;
    width: 45px;
    height: 40px;
    text-align: center;
    line-height: 37px;
    border: 1px solid #eeeeee;
    border-right: 0;
    border-radius: 5px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.featured_products_slider .owl-theme .owl-nav .owl-next {
    font-size: 20px;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    right: 0;
    position: absolute;
    text-align: center;
    background: #ffffff;
    color: #000000;
    width: 45px;
    height: 40px;
    text-align: center;
    line-height: 37px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.featured_products_slider .owl-theme .owl-nav .owl-prev:hover,
.featured_products_slider .owl-theme .owl-nav .owl-next:hover {
    background: #4385f5;
    color: #ffffff;
	border-color: #4385f5;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.shop_cont_box_wrapper {
    float: left;
    width: 100%;
    overflow: hidden;
}
.shop_img_wrapper {
    float: left;
    width: 100%;
    position: relative;
}
.shop_img_wrapper img {
    width: 100%;
}
.shop_img_cont_wrapper {
    float: left;
    width: 100%;
    text-align: center;
    background: #fafafa;
    padding: 25px;
    position: relative;
}
.shop_img_cont_wrapper h1 a {
    font-size: 16px;
    color: #222222;
    line-height: 24px;
    font-weight: 600;
    float: left;
    text-transform: uppercase;
}
.shop_img_cont_wrapper h5 {
    font-size: 14px;
    color: #4285f4;
    font-weight: 600;
    float: right;
    line-height: 22px;
}
.featured_products_cont_wrapper {
    float: left;
    width: 100%;
    text-align: center;
    border-top: 1px solid #d0d0d0;
    margin-top: 10px;
}
.featured_products_cont_wrapper i {
    color: #ffc000;
    font-size: 16px;
    text-align: center;
    padding-top: 15px;
}
.shop_price {
    width: 115px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: rgba(36, 206, 140, 0.8);
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0px auto;
    top: 0px;
    border-radius: 0px;
}
.shop_stock {
    background: rgba(227, 69, 69, 0.8);
}
.shop_yellow{
	 background: rgba(216, 198, 76, 0.8);
}
.shop_cont_box_wrapper:hover .featured_products_overlay .featured_products_img_text {
    bottom: 14px;
    opacity: 1;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.shop_cont_box_wrapper:hover .featured_products_overlay i {
    opacity: 1;
}
.shop_cont_box_wrapper img {
    width: 100%;
}
.shop_cont_box_wrapper:hover .shop_img_cont_wrapper {
    background: #2d2d2d;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.shop_cont_box_wrapper:hover .shop_img_cont_wrapper h1 a {
    color: #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.featured_products_img_text {
    position: absolute;
    bottom: -40px;
    width: 100%;
    height: 60px;
    text-align: center;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    opacity: 0;
}
.featured_products_img_text ul {
    display: inline-block;
    padding-top: 24px;
}
.featured_products_img_text li {
    float: left;
    font-size: 20px;
}
.featured_products_img_text li:first-child {
    margin-left: 0;
}
.featured_products_img_text li:nth-child(2) {
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
}
.featured_products_img_text li a {
    float: left;
    width: 86px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    background: #ffffff;
    text-align: center;
    color: #000000;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.featured_products_img_text li a:hover {
    color: #ffffff;
    background: #4285f4;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

/* featured_products_section end */


/* products_category_wrapper start*/

.products_category_wrapper{
	float:left;
	width:100%;
}
.product_category_image_wrapper img {
	width: 100%;
}
.product_category_image_wrapper{
	float: left;
    width: 25%;
    position: relative;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.product_image_wrapper_overlay{
	position: absolute;
	 top:0;
	left:0;
	right:0;
	bottom:0;
	background: #000000;
    opacity: 0.8;
}
.product_image_overlay {
	position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    visibility:hidden;
	border:1px solid transparent;
}
.product_category_image_wrapper:hover .product_image_overlay{
	visibility:visible;
	border-color:rgba(255, 255, 255, 0.4);
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.product_text_wrapper{
	position:absolute;
	top: 50%;
	left: 50%;
	text-align:center;
	border:1px solid transparent;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.product_text_wrapper h2{
	font-size:36px;
	font-weight:800;
	color:#fff;
	text-transform:uppercase;
}
.product_text_wrapper h3{
	font-size:30px;
	color:#4285f4;
    text-transform: capitalize;
	padding-bottom:20px;
    font-family: 'Satisfy', cursive;
}

/* products_category_wrapper end*/


/* portfolio_wrapper start */

.portfolio_wrapper{
	float:left;
	width:100%;
	text-align: center;
	padding-top:100px;
	padding-bottom:100px;
}
.portfolio-area{
	float:left;
	width:100%;
}
.portfolio-area .portfolio-area-intro{
    margin-bottom: 50px;
}
.portfolio-area .portfolio-area-intro p span,
.portfolio-area .portfolio-area-intro h2 {
    text-transform: uppercase;
}
.portfolio-area .portfolio-area-intro h2 {
    font-weight: 600;
}
.portfolio-area .portfolio-thumb{
    position: relative;
    overflow: hidden;
}
.portfolio-area .portfolio-thumb img{
    width: 100%;
}
.III_column{
	margin-top:30px;
}

/*portfolio-filter*/

.portfolio-filter {
    margin-bottom: 30px;
}
#filter li a{
    display: block;
    font-size: 16px;
    cursor: pointer;
	border: 1px solid transparent;
	border-radius:5px;
    color: #999999;
	background:transparent;
    padding: 10px 20px;
    margin-right: 10px;
	position:relative;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
#filter li a:hover,
#filter li a.active{
	color: #4285f4;
    border-color: #4285f4;
}
#filter li a:last-child{
    margin-right: 0px;
}
.portfolio_wrapper .btn_more {
    background: transparent;
    border: 1px solid #4285f4;
    background: #4285f4;
    color: #fff;
    border-radius: 5px;
    margin-top: 42px;
    width: 150px;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.portfolio_wrapper .btn_more:hover {
    border: 1px solid #4285f4;
    background: transparent;
    color: #4285f4;
}

/* portfolio_wrapper end */


/* banner_wrapper start */

.banner_wrapper{
	float: left;
    width: 100%;
    background-image: url(../images/home/home-6/banner_bg_img.jpg);
    height: 100%;
    background-position: 50% 0;
    background-size: cover;
    position: relative;
	padding-top:100px;
}
.banner_wrapper_overlay{
	content: "";
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: #000;
    opacity: 0.8;
}
.banner_text_wrapper{
	float: left;
    width: 50%;
	position:relative;
}
.banner_text_content{
   position: relative;
    top: 40px;
    left: 30%;
}
.banner_text_wrapper h3{
	font-weight:600;
	font-size:40px;
	color:#fff;
	margin-bottom:10px;
	text-transform:uppercase;
}
.banner_text_wrapper h2{
	font-weight:800;
	font-size:60px;
	color:#fff;
	text-transform:uppercase;
}
.banner_text_wrapper a{
	float:left;
	background: #fff;
    color: #111;
    border-radius: 5px;
    margin-top: 30px;
    width: 150px;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    text-transform: uppercase;
    text-align:center;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.banner_text_wrapper a:hover{
	background: #4285f4;
    color: #fff;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.banner_image_wrapper{
    float: left;
    width: 50%;
	position:relative;
}

/* banner_wrapper end */


/* best_sellers_product_wrapper start */

.product_and_testi_main_wrapper{
	float:left;
	width:100%;
	padding-top:100px;
	padding-bottom:100px;
}
.product_and_testimonial_wrapper 
.section_heading{
	text-align:left;
	margin-bottom:50px;
}
.product_and_testimonial_wrapper{
	float:left;
	width:100%;
	padding-bottom:100px;
}
.best_sellers_product_wrapper{
	float:left;
	width:100%;
}
.product_wrapper{
	float: left;
    width: 100%;
	padding-bottom: 30px;
}
.product_wrapper:last-of-type{
	padding-bottom: 0px;
}
.product_image_wrapper{
	float: left;
    width: 140px;
}
.product_content_wrapper{
	float: left;
    width: calc(100% - 140px);
    padding-left: 30px;
}
.product_content_wrapper h4{
	font-size: 16px;
    color: #222222;
    font-weight: 600;
	padding-bottom:20px;
    text-transform: uppercase;
}
.product_content_wrapper p{
	margin:0;
}
.product_review_wrapper {
	padding-top:20px;
}
.product_review_wrapper i{
	color: #ffc000;
    font-size: 16px;
    text-align: center;
}
.product_content_wrapper h5{
	font-size: 16px;
    color: #4285f4;
    font-weight: 600;
	padding-top:15px;
}

/* best_sellers_product_wrapper end */


/* trending_product_wrapper start */

.trending_product_wrapper{
	float:left;
	width:100%;
}

/* trending_product_wrapper end */


/** testimonials_wrapper start **/

.testimonials_wrapper{
	float:left;
	width:100%;
}
.testimonial_slider_wrapper{
	float:left;
	width:100%;
	text-align:center;
	background:#f7f7f7;
	border:1px solid #e4e4e4;
	padding:70px 50px;
}
.testimonial_author_image{
	padding-bottom:30px;
	display:inline-block;
}
.testimonial_author_name{
	float:left;
	width:100%;
	padding-bottom: 30px;
}
.testimonial_author_name h4{
	font-size: 24px;
    color: #111;
    font-weight: 500;
	padding-bottom:10px;
}
.testimonial_author_name span{
	font-size: 16px;
    color: #999;
}
.testimonial_author_text{
	float:left;
	width:100%;
}
.testimonial_author_text p{
	font-size: 16px;
}
.testimonial_slider_wrapper  .owl-theme .owl-dots{
	display:none;
}
.testimonial_slider_wrapper .owl-theme .owl-nav {
	display: inline-block;
    bottom: -70px;
    border: 1px solid #e4e4e4;
    border-bottom: 0;
    position: relative;
}
.testimonial_slider_wrapper .owl-carousel .owl-nav .owl-prev{
	border-right:1px solid #e4e4e4;
}
.testimonial_slider_wrapper .owl-carousel .owl-nav .owl-prev, 
.testimonial_slider_wrapper .owl-carousel .owl-nav .owl-next{
	background: #f7f7f7;
    color: #999;
    font-size: 16px;
    border-radius: 0;
	padding:4px 13px;
	margin:0;
}

/** testimonials_wrapper end **/


/** product_banner_wrapper start **/

.product_banner_wrapper{
	float: left;
    width: 100%;
    background-image: url(../images/home/home-6/product_banner_img.jpg);
    height: 100%;
    background-position: center 0;
    background-size: cover;
    position: relative;
	padding-top:100px;
	padding-bottom:100px;
}
.product_banner_overlay{
	content: "";
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: #000;
    opacity: 0.8;
}
.product_banner_text_overlay {
	position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border:1px solid rgba(255, 255, 255, 0.4);
}
.product_banner_text{
	position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.product_banner_text h2{
	font-size:36px;
	color:#fff;
	font-weight:800;
	padding-bottom:10px;
} 

/** product_banner_wrapper end **/


/** feature_icon_section start **/

.feature_icon_section{
	float:left;
	width:100%;
}
.feature_icon_content{
	float: left;
    width: 20%;
	background:#4285f4;
    padding: 60px 0px;
    text-align: center;
    line-height: 0;
}
.icon_second_bg, .icon_fourth_bg{
	background:#3676e0;
}
.feature_icon_content i , .feature_icon_content h4{
	color:#fff;
}
.feature_icon_content i{
	font-size:22px;
	margin-bottom:10px;
}
.feature_icon_content h4{
	font-size:40px;
	margin-bottom:20px;
}
.feature_icon_content .description{
	font-size:14px;
	text-transform:uppercase;
	color:rgba(255, 255, 255, 0.7);
}
.feature_icon_content:hover{
	background:#222222;
	-webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

/** feature_icon_section end **/


/* --------------------------------------
blog_section start
----------------------------------------- */

.blog_section {
	float:left;
	width:100%;
    padding-top: 100px;
    padding-bottom: 100px;
}
.blog_section .blog-post-wrapper {
	background-color: #fafafa;
}
.blog_section .blog-post-wrapper .post-thumbnail{
	position: relative;
}
.blog_section .blog-post-wrapper .post-thumbnail .posted-date{
	position: absolute;
	left: 17px;
	top: 17px;
	width: 60px;
    height: 60px;
	background: #4285f4;
	color: #FFFFFF;
	text-align: center;
	border-radius:50%;
}
.blog_section .blog-post-wrapper .post-thumbnail .posted-date .day {
	font-size: 20px;
	line-height: 44px;
	font-weight: 600;
	display: block;
}
.blog_section .blog-post-wrapper .post-thumbnail .posted-date .month {
	font-size: 11px;
	font-weight: 600;
	line-height: 0;
	display: block;
	text-transform: uppercase;
}
.blog_section .blog-post-wrapper .post-thumbnail img{
	width: 100%;
}
.blog_section .blog-post-wrapper .blog-content{
	border: 1px solid #ededed;
	padding: 20px;
}

/*entry-header*/

.blog_section .blog-post-wrapper .entry-header {
  margin-bottom: 20px;
  background:transparent;
}
.blog_section .blog-post-wrapper .entry-title{
	line-height: 22px;
	text-transform: capitalize;
	margin-bottom: 5px;
}
.blog_section .blog-post-wrapper .entry-title a{
	color: #313131;
}
.blog_section .blog-post-wrapper .entry-title a:hover{
	color: #4285f4;
}

/*entry-meta*/

.blog_section .blog-post-wrapper .entry-header .entry-meta {
	font-size: 11px;
	text-transform: uppercase;
}
.blog_section .blog-post-wrapper .entry-header .entry-meta ul{
	margin:0;
	padding:0;
}
.blog_section .blog-post-wrapper .entry-header .entry-meta li {
	display: inline-block;
	border-right: 1px solid #E7E7E7;
	line-height: 10px;
	padding-right: 15px;
	margin-right: 15px;
}
.blog_section .blog-post-wrapper .entry-header .entry-meta li:last-child {
	border-right: 0;
	padding-right: 0;
	margin-right: 0;
}
.blog_section .blog-post-wrapper .entry-header .entry-meta li a{
	color: #969595;
}
.blog_section .blog-post-wrapper .entry-header .entry-meta li a:hover{
	color: #4285f4;
}
/*entry-content*/

.blog_section .blog-post-wrapper .entry-content {}
.blog_section .blog-post-wrapper .entry-content p{
	margin: 0;
}

/*entry-footer*/

.blog_section .blog-post-wrapper .entry-footer {
  background-color: #f5f5f5;
  padding: 13px;
}
.blog_section .blog-post-wrapper .entry-footer ul{
    margin:0;
	padding:0;
}
.blog_section .blog-post-wrapper .entry-footer .entry-meta li {
	display: inline-block;
	margin-right: 7px;
}
.blog_section .blog-post-wrapper .entry-footer a{
	display: inline-block;
    padding: 8px 14px;
    font-size: 13px;
	line-height: 0px;
	color: #dadada;
	background: #fff;
    text-transform: uppercase;
    border-radius: 30px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.blog_section .blog-post-wrapper .entry-footer a:hover{
  color: #fff;
  background: #4285f4;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.blog_section .blog-post-wrapper .entry-footer .entry-meta li:last-child {
	margin-right: 0;
}

/*blog gallery post*/

#blog_section_slider .carousel-control {
  top: auto;
  bottom: 20px;
  width: 30px;
  height: 23px;
  font-size: 11px;
  color: #dadada;
  text-shadow: none;
  filter: alpha(opacity=100);
  opacity: 1;
}
#blog_section_slider .carousel-control.left,
#blog_section_slider .carousel-control.right {
  background-image: none;
  background-color: #fff;
  line-height: 24px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 32px;
  
}
#blog_section_slider .carousel-control:focus, 
#blog_section_slider .carousel-control:hover {
  background-color: #4285f4;
  color: #fff !important;
  filter: alpha(opacity=100);
  opacity: 1;
}

#blog_section_slider .carousel-control.left {
  right: 60px;
  left: auto;
}
#blog_section_slider .carousel-control.right {
  right: 20px;
}


/*blog video post*/

.blog_section .blog-post-wrapper .play-trigger {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-left: -30px;
	margin-top: -30px;
	border: 0;
	color: #4285f4;
	background: #fff;
	font-size: 20px;
	line-height: 60px;
	text-align: center;
	-webkit-transition      : all 0.3s ease 0s;
	-moz-transition      : all 0.3s ease 0s;
	-o-transition      : all 0.3s ease 0s;
	transition      : all 0.3s ease 0s;
}
.blog_section .blog-post-wrapper .play-trigger:hover {
  color: #fff;
  background: #4285f4;
}
.blog_section .blog-post-wrapper .play-trigger i {
	margin-left: 5px;
}

/* --------------------------------------
blog_section end
----------------------------------------- */


/*   client_section start */

.client_section {
	float: left;
	width: 100%;
	padding-top: 100px;
    padding-bottom: 70px;
	background:#f7f7f7;
	text-align:center;
}
.client_section a {
	display:inline-block;
	padding: 20px;
	border:1px solid #e4e4e4;
	background:#f6f6f6;
	margin-bottom:30px;
}
.client_section a:last-of-type{	

}
.client_section a img {
	opacity: 0.3;
	-webkit-transition      : all 0.8s ease 0s;
    -moz-transition      : all 0.8s ease 0s;
    -o-transition      : all 0.8s ease 0s;
    transition      : all 0.8s ease 0s;
}
.client_section a:hover img {
	opacity: 1;
	 -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

/*   client_section end */


/** newsletter_section start **/

.newsletter_section{
	float:left;
	width:100%;
	padding-top:100px;
	padding-bottom:100px;
	background:#4285f4;
}
.newsletter_section .newsletter_wrap {
    width: 100%;
}
.newsletter_section .newsletter_content{
   float: left;
   width: 100%;
   margin-top:7px;
}
.newsletter_section .newsletter_button{
   float: left;
   width: 100%;
}
.newsletter_content h2{
	color:#fff;
	font-size:30px;
	line-height: 38px;
	text-transform:uppercase;
}
.newsletter_img{
	float: left;
    width: 52px;
}
.newsletter_heading{
	float: left;
	width: calc(100% - 52px);
    padding-left: 20px;
}
.newsletter_form .form-group{
	margin-bottom:0px;
}
.newsletter_form .form-group i{
    font-size: 18px;
    color: #fff;
	margin-left:-40px;
}
.newsletter_form input{
	width: 100%;
	height: 50px;
    font-size: 14px;
    line-height: 24px;
	color:#fff;
	padding: 17px 54px 17px 20px;
    background-color: transparent;
	box-shadow:none;
    border: 1px solid rgba(255, 255, 255, 0.55);
    border-style: solid solid solid solid;
    border-radius: 3px;
}
.newsletter_form input::placeholder{
  color: #fff;
}
.newsletter_button button.btn{
	background: #fff;
	border: 1px solid #fff;
	color:#999;
	font-size: 16px;
    line-height: 40px;
	width:165px;
	height: 50px;
	text-transform:uppercase;
    -webkit-transition: all 0.3s ease 0s;
   -moz-transition: all 0.3s ease 0s;
   -o-transition: all 0.3s ease 0s;
   transition: all 0.3s ease 0s;
}
.newsletter_button button.btn:hover{
	background: transparent;
	border: 1px solid #fff;
	color:#fff;
    -webkit-transition: all 0.3s ease 0s;
   -moz-transition: all 0.3s ease 0s;
   -o-transition: all 0.3s ease 0s;
   transition: all 0.3s ease 0s;
}

/** newsletter_section end **/


/* media  query css for ipad */

@media(min-width: 992px) and (max-width: 1199px) {
	
	.navbar-default .navbar-nav>li>a {
		padding: 20px 10px;
	}
	.copyright_menu ul li {
		margin-right: 27px;
	}
	.footer_text_wrapper p{
		font-size: 13px;
	}
	.product_text_wrapper h2 {
		font-size: 30px;
	}
	.product_text_wrapper h3 {
		font-size: 24px;
	}
	.banner_text_content {
		top: 0px;
	}
	.banner_text_wrapper h3 {
		font-size: 30px;
	}
	.banner_text_wrapper h2 {
		font-size: 40px;
	}
	.banner_text_wrapper a {
		margin-top: 20px;
	}
	.product_content_wrapper h4 {
		font-size: 15px;
	}
	.product_content_wrapper p {
		font-size: 13px;
	}
	
}

@media(min-width: 768px) and (max-width: 991px) {
	
	.main_menu_wrapper {
		padding: 30px 0px;
	}
	.menu_toggle, .menu_social_icons{
		padding: 0px;
	}
	.copyright_menu ul {
		float: none;
	}
	.copyright_menu {
		margin-top: 30px;
	}
	.footer_widget{
		margin-bottom: 40px;
	}
	.features_section {
		margin-top: 100px;
	}
	.features_wrapper {
		margin-bottom: 40px;
	}
	.product_category_image_wrapper {
		float: left;
		width: 50%;
	}
	.banner_text_wrapper, 
	.banner_image_wrapper{
		width:100%;
	}
	.banner_text_wrapper{
		text-align:center;
	}
	.banner_text_content{
		position:unset;
		left:0;
		top:50px;
		display:inline-block;
	}
	.banner_text_wrapper a {
		float: none;
		display:inline-block;
	}
	.banner_image_wrapper{
		padding-top:40px;
	}
	.feature_icon_content h4 {
		font-size: 30px;
	}
	.feature_icon_content .description {
		font-size: 13px;
	}
	.blog_section .blog-post-wrapper{
		margin-bottom:40px;
	}
	.testimonials_wrapper{
		padding-top:40px;
	}
	#filter li a {
		padding: 10px 15px;
	}
	.newsletter_section {
		text-align: center;
	}
	.newsletter_content,.newsletter_form{
		margin-bottom:30px;
	}
	.newsletter_img, .newsletter_heading {
		width: auto;
	}
	.newsletter_section .newsletter_content {
		float:none;
		width: auto;
		display:inline-block;
		margin-top: 0px; 
	}
}

/* media query css for ipad end */


/* media query css for mobile */

@media(max-width: 767px){
	
	.main_menu_wrapper {
		padding: 30px 0px;
	}
	.menu_toggle, .menu_social_icons{
		padding: 0px;
	}
	.copyright_menu ul {
		float: none;
	}
	.copyright_menu {
		margin-top: 30px;
	}
	.footer_widget{
		margin-bottom: 40px;
	}
	.copyright_content p ,
	.copyright_menu ul li a {
		font-size: 14px;
	}
	.features_section {
		margin-top: 100px;
	}
	.features_wrapper {
		margin-bottom: 40px;
	}
	.product_category_image_wrapper {
		float: left;
		width: 100%;
	}
	.banner_text_wrapper, 
	.banner_image_wrapper{
		width:100%;
	}
	.banner_text_wrapper{
		text-align:center;
	}
	.banner_text_content{
		position:unset;
		left:0;
		top:50px;
		display:inline-block;
	}
	.banner_text_wrapper a {
		float: none;
		display:inline-block;
	}
	.banner_image_wrapper{
		padding-top:40px;
	}
	.feature_icon_content  {
		width: 100%;
	}
	.blog_section .blog-post-wrapper{
		margin-bottom:40px;
	}
	.best_sellers_product_wrapper,
	.trending_product_wrapper{
		padding-bottom:40px;
	}
	.product_banner_text h2 {
		font-size: 32px;
	}
	#filter li a:last-child {
		margin-top: 20px;
	}
	.newsletter_section {
		text-align: center;
	}
	.newsletter_content,.newsletter_form{
		margin-bottom:30px;
	}
	.newsletter_img, .newsletter_heading {
		width: auto;
	}
	.newsletter_section .newsletter_content {
		float:none;
		width: auto;
		display:inline-block;
		margin-top: 0px; 
	}
	.newsletter_content h2 {
		font-size: 28px;
	}
}

@media(max-width: 480px){
	
	.copyright_menu ul li {
		float: none;
	}
	.copyright_menu ul li {
		margin-bottom:20px;
	}
	.banner_text_wrapper h3 {
		font-size: 30px;
	}
	.banner_text_wrapper h2 {
		font-size: 40px;
	}
	.product_wrapper {
		text-align: center;
	}
	.product_image_wrapper {
		float: none;
		display: inline-block;
	}
	.product_content_wrapper {
		padding-left: 0px;
		float: none;
		display: inline-block;
		padding-top: 20px;
	}
	.product_banner_text h2 {
		font-size: 24px;
	}
	.newsletter_content h2 {
		font-size: 20px;
	}
}

@media(max-width: 390px){
	
	.signin_wrapper, .dropdown{
		display:none;
	}
	.menu_social_icons ul li {
		margin-left: 15px;
	}
	.product_banner_text h2 {
		font-size: 18px;
	}
	.newsletter_content h2 {
		font-size: 16px;
	}

}