/*------------------------------------------------------------------

Project:	A Future HTML UI Kit
Version:	1.0.0
Author: 	webstrot 

------------------------------------------------------------------
[Table of contents]
 
1. main_wrapper start
2. main_wrapper_text start
3. main_wrapper_content start

*/

/* custom css */

html{
	height:100%;
}
body {
	font-family: 'Roboto';
	font-weight: normal;
	font-size: 16px;
	word-spacing: normal;
	height: 100%;
	min-height: 100%;
	color: #333;
	background-size: 100% 100%;
	margin: 0;
	overflow: hidden;
	position:relative;
	border: 20px solid #efd857; 
 	
}
.bg-overlay {
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
	background: url(../images/coming-soon/under-construction/under_construction_bg.jpg) repeat;
	background-position: 50% 50%;
	background-size:cover;
}


/*======================== main_wrapper ========================*/

body > .main_wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height:600px;
	z-index: 1;
}


/*======================== main_wrapper_text ========================*/

.main_wrapper_text {
	color: #FFFFFF;
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left:20px;
	right:20px;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;
}
.main_wrapper_img{
	float:left;
	width:100%;
}
.main_wrapper_logo{
	float:left;
	width:100%;
	padding-top:40px;
}

/*======================== main_wrapper_content ========================*/

.main_wrapper_content{
	float:left;
	width:100%;
}
.main_wrapper_content h2{
	font-size:60px;
	color:#222222;
	font-weight:900;
	text-transform:uppercase;
	padding-top:30px;
}
.main_wrapper_content p{
	font-size:18px;
	color:#999;	
	font-style:italic;
	padding-top:20px;
	padding-bottom:40px;
}
.main_wrapper_content .subscribe-form .form-control {
    height: 42px;
    padding: 6px 20px;
    font-size: 13px;
    line-height: 24px;
    color: #969595;
	background-color: transparent;
    border: 1px solid #222222;
    border-radius: 0;
    box-shadow: none;
}
.main_wrapper_content .subscribe-form 
.btn-black {
    height: 42px;
    background-color: #222222;
	border-color: #222222;
	padding: 10px 30px;
    margin-bottom: 0;
    color: #fff;
    font-size: 13px;
	border-radius: 0;
    text-transform: uppercase;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.main_wrapper_content .subscribe-form 
.btn-black:hover{
	background:transparent;
	color: #999;
}

/* media query css for mobile */

@media(max-width: 767px){
	
	.main_wrapper_content h2 {
		font-size: 24px;
	}
	.main_wrapper_content p {
		font-size: 14px;
		padding: 20px 42px;
	}
}

@media(max-width: 480px){
	
	.main_wrapper_content h2 {
		font-size: 20px;
	}
	.main_wrapper_content .subscribe-form .input-group{
		display: inline-block;
	}
	.main_wrapper_content .subscribe-form .btn-black{
	    margin-top: 40px;
	}
}

@media (max-width: 390px){
	
	.main_wrapper_content h2 {
		font-size: 16px;
	}
	
}




